In [ ]:
import pandas as pd

df = pd.DataFrame({"Name": ["blue", 
                            "delta", 
                            "echo", 
                            "charlie", 
                            "alpha"], 
                    "Type": ["Raptors",
                            "Raptors",
                            "Raptors",
                            "Raptors",
                            "Tyrannosaurus rex"]
                    })

print (df.index[(df['Name'] == 'blue')].tolist())
print ('\n')
print (df.loc[df['Name'] == 'blue'])
print ('\n')
print (df.loc[(df['Name'] == 'charlie') & (df['Type'] =='Raptors')])

In [ ]:
import mysql
import mysql.connector
conn = mysql.connector.connect(host='localhost', port='3306', database='mypictures', user='root', password='1234')
cursor = conn.cursor(dictionary=True)
cursor.execute('select * from existingfiles;')
result = cursor.fetchall()
for se, fi, di, tt, tp, re in result:
    print(se, fi, di, tt, tp, re)
              
print(result)
#excute.

existDF = pd.DataFrame(index=range(0, 0), columns={'dirName', 'fileName'})
print(existDF)

In [8]:
import os
import re
import pathlib
import stat
from datetime import datetime
from PIL import Image
from PIL.ExifTags import TAGS
from time import time
import time
import mysql
import mysql.connector

#path = 'E:\\source\\pygame\\Nado Game\\pyqt5\\사진관리\\data'
path = 'C:\\사진정리\\2004년\\2004년01월'
file = '20060116_132458_DSCF2972.JPG'
def listFiles():
    return os.walk(path)

def checkReMatch(path):
    checker = re.compile(r'(19\d\d|20\d\d|\d\d)[년\-_. ]?(0[1-9]|1[012])[월\-_. ]?(0[1-9]|[12][0-9]|3[01])[일]?')
    return checker.match(path)

def get_remark(path):
    lastDir = os.path.basename(path)
    m = checkReMatch(lastDir)
    if m and len(lastDir) > m.end():
        #print(sub[m.end():])
        return lastDir[m.end():]
    else:
        return ""

def connDB():
    conn = mysql.connector.connect(
        host='localhost', 
        port='3306', 
        database='mypictures', 
        user='root', 
        password='1234'
    )
    return conn
def takePictureTime(path, f):
    filename = pathlib.Path(path, f)
    try :
        with Image.open(filename) as im:
            info = im._getexif()
        # 새로운 딕셔너리 생성
        taglabel = {}
        for tag, value in info.items():
            decoded = TAGS.get(tag, tag)
            taglabel[decoded] = value
        s = taglabel['DateTimeOriginal']
        timestamp = time.mktime(datetime.strptime(s, '%Y:%m:%d %H:%M:%S').timetuple())
        return s
        #return timestamp
    except:
        return None

def fileToDB():
    files = listFiles()
    
    for path, subDir, files in files:
        for file in files:
            #print(file)
            remark = get_remark(path)
            tt = takePictureTime(path, file)
            exist = selectDB([str(file)])
            #print('exist: ', exist)
            if not exist:
                print('not exist insertDB: ', path, file)
                insertDB(file, path, path, tt, remark)
            else:
                dupliExist = selectDupliDB(file, path)
                #print(dupliExist)
                if not dupliExist:
                    print('not duplicated insertDupliDB: ', path, file)
                    insertDupliDB(file, path, path, remark)
                
def selectDupliDB(file, path):
    conn = connDB()
    #if conn.is_connected():
    #print(True)
    cursor = conn.cursor(dictionary=True)
    sql = "select * from duplicatedpicturefiles \
        where duPicFileName = %s and srcDir = %s;"
    val = (file, path)
    cursor.execute(sql, val)
    #print(cursor)
    result = cursor.fetchall()
    conn.close()
    return result


def insertDupliDB(f, srcDir, desDir, d):
    print(d)
    conn = connDB()
    cursor = conn.cursor(dictionary=True)
    sql = "insert into duplicatedpicturefiles (duPicFileName, srcDir, destDir, action) \
    values (%s, %s, %s, %s)"
    val = (f, srcDir, desDir, 'Delete')
    cursor.execute(sql, val)
    conn.commit()
    conn.close()
    return

def insertDB(f, destDir, srcDir, TT, remark):
    conn = connDB()
    cursor = conn.cursor(dictionary=True)
    sql = "insert into mypicturefiles (pictureFileName, pictureFileDestDir, pictureFileSrcDir, TakeTime, remark) \
    values (%s, %s, %s, %s, %s)"
    val = (f, destDir, srcDir, TT, remark)
    cursor.execute(sql, val)
    conn.commit()
    conn.close()
    return

def selectDB(f):
    conn = connDB()
    #if conn.is_connected():
    #print(True)
    cursor = conn.cursor(dictionary=True)
    sql = "select * from mypicturefiles where pictureFileName = %s;"
    val = f
    cursor.execute(sql, val)
    #print(cursor)
    result = cursor.fetchall()
    conn.close()
    return result
    
    
fileToDB()

not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_224520_IMG_0111.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_224552_IMG_0114.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_224618_IMG_0115.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_224640_IMG_0116.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_224715_IMG_0117.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_225955_IMG_0119.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230057_IMG_0120.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230116_IMG_0121.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230128_IMG_0122.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230153_IMG_0123.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230205_IMG_0124.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230229_IMG_0125.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_230301_IMG_0126.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_235457_IMG_0127.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월06일 신월성 사업팀 덕유산 20040106_235601_IMG_0128.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_002949_IMG_0130.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_003527_IMG_0131.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_003551_IMG_0133.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_003619_IMG_0134.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_003632_IMG_0135.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_010910_IMG_0136.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_010931_IMG_0137.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_011843_IMG_0139.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_011906_IMG_0140.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_011933_IMG_0141.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_011947_IMG_0142-1.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_011947_IMG_0142.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012005_IMG_0143.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012121_IMG_0145.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012128_IMG_0146.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012150_IMG_0147.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012257_IMG_0148.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012318_IMG_0149.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012348_IMG_0151.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012411_IMG_0152.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012442_IMG_0154.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012751_IMG_0155.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012818_IMG_0157.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_012850_IMG_0158.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013109_IMG_0159.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013126_IMG_0160.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013151_IMG_0161.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013203_IMG_0162.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013229_IMG_0163.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013326_IMG_0164.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_013350_IMG_0165.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_020622_IMG_0170.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_020635_IMG_0172.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_020709_IMG_0174.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_023222_IMG_0175.JPG
 신월성 사업팀 덕유산
not duplicated insertDupliDB:  C:\사진정리\2004년\2004년01월\2004년01월07일 신월성 사업팀 덕유산 20040107_023228_IMG_0176.JPG
 신월성 사업팀 덕유산

In [ ]:
len('20230225_172255_027a91dfa667101abe36030cd10e81971eca8bdf2ac1f0e3b20a2449ba9c8a43.png')

In [ ]:
text= ('D:\사진\2011년\2011년10월\2011년10월01일 BNPP 1N2 Excavation ceremony') 
print(len(text))
len(text.encode())