In [2]:
import pandas as pd
from PyQt5.QtWidgets import *
from PyQt5.QtWidgets import QFileDialog

In [1]:
fname = QFileDialog.getOpenFileName()#caption:'엑셀 데이타 파일을 선택하세요')#, ,,,'All Files (*) :: Excel (*.xls *.xlsx)')

NameError: name 'QFileDialog' is not defined

In [37]:
import pandas as pd
f = "D:\\주차관제\\occp_026m01_2_20230425_172217344_184_61628.xlsx"
df = pd.read_excel(f, skiprows=5)
headers = df.columns.to_list()
headers
df
selected = ['동', '호', '입주자', '차량',  'Unnamed: 9', '차종', '소유자', '등록일', '연락처']
dfs = df[selected].copy()
dfs.dropna(subset=['등록일'], inplace = True)
dfsfill=dfs.ffill()
dfsfill
#dfs

#dfs.ffill()
con = dfsfill[dfsfill['등록일'].str.contains('등록일', na=False)].index
dfsfill.drop(con, inplace=True)
dfsfill

C:\IDE\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,동,호,입주자,차량,Unnamed: 9,차종,소유자,등록일,연락처
1,501,101,김경태,63어,7441,벤츠,김정화,2020-03-30 00:00:00,010-5384-3607
2,501,101,김경태,20구,4279,볼보,김경태,2020-03-30 00:00:00,010-3740-2107
3,501,103,최은숙,31두,4953,i30,최은숙,2018-08-21 00:00:00,010-9479-5345
4,501,104,양영이,68오,4867,캠리,오현식,2020-02-27 00:00:00,010-6230-5948
5,501,201,엄부흠,384마,8959,K8,엄부흠,2022-06-28 00:00:00,010-8951-0558
...,...,...,...,...,...,...,...,...,...
1115,515,1004,이화숙,09보,2264,오피러스,정수근,2012-10-08 00:00:00,010-2964-5758
1116,515,1004,이화숙,11수,9474,벤츠350,정수근,2015-07-03 00:00:00,010-2964-5758
1128,8888,13,구립어린이집,39소,7033,트라제,김정미,2016-07-27 00:00:00,010-7279-8157
1129,8888,13,구립어린이집,38노,7753,아반떼,김준(김해인),2017-03-10 00:00:00,010-3912-9882
1130,8888,13,구립어린이집,40소,1087,쏘렌토,이지희,2019-08-05 00:00:00,010-6420-1195